*{
    margin: 0;
    padding:0;
}

body {
    font-family: "Lucida Console", Courier, monospace;
}

.parallax {
  /* The image used */
  background-image: url("https://b4110f11-951d-491f-9944-fa9d32caeb28.ws-eu01.gitpod.io/mini-browser/workspace/baobab/Assets/Cake-images/image1.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxtwo {
  /* The image used */
  background-image: url("https://b4110f11-951d-491f-9944-fa9d32caeb28.ws-eu01.gitpod.io/mini-browser/workspace/baobab/Assets/Cake-images/image0%20%281%29.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#foooter {
    background-image: url(https://b4110f11-951d-491f-9944-fa9d32caeb28.ws-eu01.gitpod.io/mini-browser/workspace/baobab/Assets/logo/in00909-1.700x300.jpg);
    background-position: cover;
    background-size: 100% 100%;
    height: 200px;
}

 /* Community css */
#recycle {
    color:black;
}

#book {
    color: red;
}

#child {
    color: green;    
}

.card-deck {
    height: 300px;
}

.tabs {
    display: none;
}